<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<div id="chap1" th:fragment="chap1">
		<h1>Chapter 1</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ut modi nobis odit deserunt voluptatibus enim vero fuga eos harum molestiae explicabo! Asperiores totam repellat iusto minima facilis architecto doloremque.
		</p>
	</div>
	<div id="chap2" th:fragment="chap2">
		<h1>Chapter 2</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eveniet obcaecati culpa reprehenderit deserunt officiis aliquid. Tenetur quo officia reprehenderit sint non. Tenetur vero suscipit saepe voluptatibus dolorem. Numquam eveniet.
		</p>
	</div>
</body>
</html>