<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Boards">
  <select id="get" resultType="boardDto" parameterType="Integer">
  	SELECT 
  		board_id,
	    board_title,
	    board_writer,
	    board_writer_ip_addr,
	    board_password,
	    board_content,
	    board_write_date,
	    board_view_count,
	    board_pos_count,
	    board_neg_count 
  	FROM 
  		jspboard
  	WHERE 
  		board_id = #{board_id}
  </select>
  
  <update id="plusViewCount" parameterType="Integer">
  	UPDATE 
  		jspboard
  	SET
  		board_view_count = board_view_count + 1
  	WHERE
  		board_id = #{board_id}
  </update>
</mapper>