<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자동차보험(인터넷가입)</title>
    <style>
		/*
        .main-header { background-color: aqua; }
        .body-wrap { width: 1200px; margin: 0 auto; }
        .nav { text-align: right; }
        .header-title { font-weight: bold; width:fit-content; }
		.tab1, .tab2 { display: none; }
		.active { display: block; }
		*/
    </style>
	
	<link rel="stylesheet" th:href="@{/css/sections.css}">
	<link rel="stylesheet" th:href="@{/css/avgcss.css}">
	<link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <section>
        <div class="main-header">
            <div class="body-wrap">
                <p class="nav">홈 보험상품/대출 자동차 자동차보험(인터넷가입)</p>
                <span class="header-title">자동차보험</span>
                <span class="header-badge">인터넷가입</span>
                <p>
                    다이렉트 자동차보험 가입 1위<br>
                    (14년~24년, 수입보험료 기준)
                </p>
                <!--버튼 클릭시 계산 페이지로 이동-->
                <button onclick="location.href='/test/cal';">보험료 계산</button>
            </div>
        </div>
        
        <div class="main-content body-wrap">
            <div class="tabs">
                <!-- 누르는 버튼에 따라 div창이 바뀜-->
                <button class="active">상품소개</button>
                <button class="">보장내용</button>
            </div>

            <div class="tab1 active" th:insert="~{/staticWeb/product/template/frags/sections::sections}"></div>

            <div class="tab2">
                <!-- 누르는 버튼에 따라 div창이 바뀜-->
                <button>기본담보</button>
                <button>선택특약</button>
    
                <div>
                    <h4>대인배상<h4>
                    <p>다른 사람에게 상해, 사망 등 손해를 입힌 경우 보상</p>
                    <h5>대인배상Ⅰ 보장내용</h5>
                    <ul>
                        <li>
                            가입하신 자동차의 사고로 다른 사람을 다치게 하거나 사망하게 한 경우 손해배상책임을 짐으로써 입은 손해를 보상합니다.
                        </li>
                        <li>
                            자동차 소유자는 반드시 가입해야 하는 법적 의무보험입니다.
                        </li>
                    </ul>
                    [보장내용 및 지급액 한도]
    
    
                    사망	후유장애	부상
                    2천만원 ~ 1억 5천만원	1천만원 ~ 1억 5천만원	50만원 ~ 3천만원
                    대인배상Ⅱ 보장내용
                    대인배상Ⅰ에서 지급되는 금액을 초과하는 손해를 보험가입금액 한도 내에서 보상합니다.
                    피해자의 직업과 나이에 따라 수십억원까지 배상해야 하는 경우도 있을 수 있으므로 무한 배상으로 가입하실 것을 추천합니다.
                    대물배상
                    다른 사람의 자동차나 재물에 손해를 입힌 경우 보상
    
                    대물배상 보장내용
                    가입하신 자동차의 사고로 다른 사람의 자동차나 재물을 파손한 경우 손해배상책임을 짐으로써 입은 손해를 보상합니다.
                    자동차 소유자는 2천만원 이상 반드시 가입해야 하는 법적 의무보험입니다.
                    20억원, 10억원, 5억원, 3억원, 2억원, 1억원, 7천만원, 5천만원, 3천만원, 2천만원 중 1가지를 선택하여 가입합니다.
                    자동차상해 특약/자기신체사고
                    나와 내 가족이 상해를 입은 경우 보상
    
                    자동차상해 특약/자기신체사고 보장내용
                    가입하신 자동차의 사고로 피보험자가 본인, 배우자, 부모, 자녀 등이 사망 또는 상해를 입은 경우 그로 인한 손해를 보상합니다.
                    자동차상해 특약과 자기신체사고 중 1가지를 선택하여 가입합니다.
                    자동차상해 특약은 자기신체사고보다 충실한 보상, 보험금을 과실상계 없이 보상합니다.
                    [자동차상해 특약 및 자기신체사고 비교]
    
    
                    구분	자동차상해 특약	자기신체사고
                    사망	가입금액 내 장례비, 위자료, 상실수익액 지급	증권에 기재된 사망보험 가입금액 지급
                    후유장애	가입금액 내 위자료, 상실수익액 지급
                    과실상계 없음
    
                    가입금액 내 후유장애등급별 보험금액 지급
                    부상	가입금액 내 상해급수별 한도 없이 치료비, 위자료, 휴업손해, 기타 손해배상금 등 지급
                    과실상계 없음
    
                    해당 상해급수별 한도 내 실제치료비만 보상
                    단독사고 및 일방과실사고의 경우에 비교한 내용입니다.
    
                    [ 사고보상 예시 ]
    
    
                    구분	자동차상해 특약	자기신체사고
                    사고상황	부부가 같이 탄 자동차를 아내가 운전하던 중 전신주를 충격하여 조수석에 탑승한 남편이 부상, 남편은 3개월간 입원, 추간판탈출증으로 총 500만원의 치료비 발생
                    추간판 탈출증: 「자동차손해배상보장법 시행령」(별표 1)에 의한 부상등급 9급
    
                    가입금액	사망 1억원, 후유장애 1억원, 부상 3천만원
                    내용	3개월간 치료비 : 500만원
                    3개월간 휴업손해비용 : 280만원
                    위자료 : 25만원	치료비 : 200만원
                    * 9급 한도(200만원) 내 실제 소요된 치료비 지급
    
                    지급보험금	총 805만원	총 200만원
                    위 내용은 고객님의 이해를 돕기 위한 사례로서, 실제 보험금 지급 여부는 사고의 자세한 정황에 따라 달라질 수 있습니다.
    
                    무보험차상해
                    무보험자동차나 뺑소니 자동차에 의해 상해를 입은 경우 보상
    
                    무보험차상해 보장내용
                    무보험자동차나 뺑소니 자동차에 의해 상해를 입은 경우, 그로 인한 손해를 보상합니다.
                    무보험자동차는 대인배상Ⅱ(공제 포함)에 가입하지 않거나 대인배상Ⅱ에서 보상하지 않는 자동차를, 뺑소니 자동차는 사고 후 도주로 인해 확인할 수 없는 자동차를 의미합니다.
                    10억원, 7억원, 5억원, 2억원 중 1가지를 선택하여 가입합니다.
                    자기차량손해
                    내 자동차가 손해를 입은 경우 보상
    
                    자기차량손해 보장내용
                    가입하신 자동차가 다른 자동차와 충돌 사고로 파손된 경우, 그로 인한 직접 손해를 보상합니다.(단독사고는 차량단독사고손해보상 특약 가입 필요)
                    보상금액은 자동차에 생긴 손해액과 비용을 합한 금액에서 자기부담금을 공제한 후 지급합니다.
                    자기부담금은 자기차량손해액의 20%, 30% 중 선택하여 가입합니다.
                    [물적사고 할증기준 금액별 최저 자기부담금]
    
    
                    물적사고 할증기준 금액	50만원	100만원	150만원	200만원
                    최저 자기부담금	5만원	10만원	15만원	20만원
                    
    
    
					<table class="custom-table">
						<caption>[ 물적사고 할증기준 금액 200만원, 자기차량손해액 20%, 과실 100% 사고 발생 시 보상 예시 ]</caption>
						<thead>
							<th>사고금액</th>
							<th>20만원의 경우</th>
							<th>100만원의 경우</th>
							<th>300만원의 경우</th>
						</thead>
						<tbody>
							<tr>
								<th>자기부담금 20%</th>
								<td>4만원</td>
								<td>20만원</td>
								<td>60만원</td>
							</tr>
							<tr>
								<th>최저 자기부담금</th>
								<td>20만원</td>
								<td>20만원</td>
								<td>20만원</td>
							</tr>
							<tr>
								<th>최고 자기부담금</th>
								<td>50만원</td>
								<td>50만원</td>
								<td>50만원</td>
							</tr>
							<tr>
								<th>고객부담금</th>
								<td>20만원</td>
								<td>20만원</td>
								<td>50만원</td>
							</tr>
							<tr>
								<th>지급보험금</th>
								<td>없음</td>
								<td>80만원</td>
								<td>250만원</td>
							</tr>
						</tbody>
					</table>
	                </div>
            </div>
        </div>

        <div class="body-wrap">
			<!--버튼 그룹-->
			<div class="button-group">
	            <!--모달창으로 띄움-->
	            <button class="notice-btn">가입시 유의사항</button>
	            <!--파일 다운-->
	            <button class="download-btn">개인용 약관</button>
	            <button class="download-btn">업무용 약관</button>
			</div>
        </div>
    </section>
</body>
</html>