@charset "UTF-8";

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.header-cover {
  background-color: #f5faff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.text-section {
  max-width: 600px;
}

.breadcrumb {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
  text-align: right;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.badge {
  background-color: #e5f0ff;
  color: #1e73e8;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 15px;
  margin-left: 10px;
  vertical-align: middle;
}

.desc {
	margin-bottom: 30px;
}

.desc-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.desc-subtext {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.btn {
  background-color: #1e73e8;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.image-section {
  max-width: 400px;
}

.image-section img {
  width: 100%;
}

/* 아래 상품 소개 섹션 */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
}

.flex-row {
	order: 2; 
	width: 100%;
}

.section .content {
  max-width: 750px;
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.check-ul > li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 16px;
}

.check-ul > li::before {
  content: "✔";
  color: #1e73e8;
  position: absolute;
  left: 0;
  top: 0;
}

.notice {
	align-self: end;
	border: 1px rgb(192, 192, 192) solid;
	border-radius: 15px;
	padding: 20px 30px;
	margin-top: 30px;
}

.list-round li::before {
	content: "";
    position: absolute;
    left: 7px;
    top: 9px;
    width: 3px;
    height: 3px;
    background-color: #757679;
    border-radius: 50%;
}

.list-round li {
	color: #888;
	position: relative;
	padding-left: 16px;
	margin-top:5px;
}

.info-list {
	margin: 0;
}

.info-list dt {
	padding: 10px 0;
}
.info-list dd {
	margin-left: 0;
}

.section .image {
  max-width: 150px;
}

.section .image img {
  width: 100%;
}

.note {
  font-size: 13px;
  color: #888;
  margin-top: 8px;
}

.note::before {
	content: "＊ ";
}

/* 탭 메뉴 (상품소개/보장내용) */
.tabs {
  display: flex;
  /* border-bottom: 2px solid #ccc; */
  margin-bottom: 40px;
}

.tabs div {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #999;
}

.tabs .active {
  border-bottom: 3px solid #1e73e8;
  color: #1e73e8;
}