<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>테스트</title>
</head>
<body>
	<h3>새 커피 추가</h3>
	
	<form action="./add" method="POST">
		<fieldset>
			<legend>커피 이름</legend>
			<input type="text" name="coffee_name">
		</fieldset>
		<fieldset>
			<legend>원두</legend>
			<select name="coffee_bean">
				<option value="arabica">아라비카</option>
				<option value="robusta">로부스타</option>
			</select>
		</fieldset>
		<fieldset>
			<legend>가격</legend>
			<input type="number" step="100" value="3000" name="coffee_price">
		</fieldset>
		
		<input type="submit" value="등록">
	</form>
	
	<h3>새 커피 추가2</h3>
		
	<form action="./add2" method="POST">
		<fieldset>
			<legend>커피 이름</legend>
			<input type="text" name="coffee_name">
		</fieldset>
		<fieldset>
			<legend>원두</legend>
			<select name="coffee_bean">
				<option value="arabica">아라비카</option>
				<option value="robusta">로부스타</option>
			</select>
		</fieldset>
		<fieldset>
			<legend>가격</legend>
			<input type="number" step="100" value="3000" name="coffee_price">
		</fieldset>
		
		<input type="submit" value="등록">
	</form>
	
	<h3>새 커피 추가3</h3>
			
	<form action="./add3" method="POST">
		<fieldset>
			<legend>커피 이름</legend>
			<input type="text" name="coffee_name">
		</fieldset>
		<fieldset>
			<legend>원두</legend>
			<select name="coffee_bean">
				<option value="arabica">아라비카</option>
				<option value="robusta">로부스타</option>
			</select>
		</fieldset>
		<fieldset>
			<legend>가격</legend>
			<input type="number" step="100" value="3000" name="coffee_price">
		</fieldset>
		
		<input type="submit" value="등록">
	</form>
</body>
</html>